
<!-- Jack Volonte -->
<!-- I changed the background of the cheesecake title to be orange, and the font of that title to be verdana, and the font of the text box to be monospace -->

h1 { 
     background-color: coral;
     font-family: verdana;
}

input[type='text'] {
    font-family: monospace; 
}